[Unit]
Description={{ litestream_backup_service_name | title }} Litestream Health Check Timer

[Timer]
OnCalendar={{ litestream_backup_check_on_calendar }}
Persistent=true

[Install]
WantedBy=timers.target
