x-rails-env: &rails_env
  SECRET_KEY_BASE: ${SECRET_KEY_BASE}
  SELF_HOSTED: "true"
  RAILS_FORCE_SSL: "false"
  RAILS_ASSUME_SSL: "true"
  DB_HOST: ${DB_HOST}
  DB_PORT: ${DB_PORT}
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  POSTGRES_DB: ${POSTGRES_DB}
  REDIS_URL: ${REDIS_URL}
  OPENAI_ACCESS_TOKEN: ${OPENAI_ACCESS_TOKEN}

services:
  web:
    image: ghcr.io/we-promise/sure:stable
    volumes:
      - app-storage:/rails/storage
    ports:
      - "127.0.0.1:{{ host.data.sure_port }}:3000"
    restart: unless-stopped
    environment:
      <<: *rails_env
    networks:
      - infra_net

  worker:
    image: ghcr.io/we-promise/sure:stable
    command: bundle exec sidekiq
    volumes:
      - app-storage:/rails/storage
    restart: unless-stopped
    environment:
      <<: *rails_env
    networks:
      - infra_net

volumes:
  app-storage:

networks:
  infra_net:
    external: true
