RESTIC_REPOSITORY={{ backup_restic_repository }}
RESTIC_PASSWORD={{ backup_restic_password }}
{% if backup_restic_repository is match('^rclone:') %}
RCLONE_CONFIG={{ backup_rclone_config_dir }}/rclone.conf
{% endif %}
{% if backup_aws_access_key_id is defined and backup_aws_access_key_id | length > 0 %}
AWS_ACCESS_KEY_ID={{ backup_aws_access_key_id }}
{% endif %}
{% if backup_aws_secret_access_key is defined and backup_aws_secret_access_key | length > 0 %}
AWS_SECRET_ACCESS_KEY={{ backup_aws_secret_access_key }}
{% endif %}
{% if backup_aws_default_region is defined and backup_aws_default_region | length > 0 %}
AWS_DEFAULT_REGION={{ backup_aws_default_region }}
{% endif %}

BACKUP_SHARED_POSTGRES_CONTAINER={{ backup_shared_postgres_container }}
BACKUP_SHARED_POSTGRES_USER={{ backup_shared_postgres_user }}
BACKUP_SHARED_POSTGRES_PASSWORD={{ backup_shared_postgres_password }}
BACKUP_SHARED_POSTGRES_DATABASES={{ backup_shared_postgres_databases | join(',') }}
