[Unit]
Description=Run WAL-G base backup daily
Requires=kiran-walg-backup.service

[Timer]
OnCalendar={{ backup_walg_backup_on_calendar | default('*-*-01,15 03:00:00') }}
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
