[Unit]
Description=Run WAL-G retention prune weekly
Requires=kiran-walg-prune.service

[Timer]
OnCalendar={{ backup_walg_prune_on_calendar | default('*-*-01 04:00:00') }}
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
