#!/usr/bin/env bash
set -euo pipefail

set -a
source "{{ backup_dir }}/scripts/backup.env"
set +a

restic forget \
  --prune \
  --keep-daily {{ backup_retention_keep_daily }} \
  --keep-weekly {{ backup_retention_keep_weekly }} \
  --keep-monthly {{ backup_retention_keep_monthly }} \
  >> "{{ backup_logs_dir }}/restic-prune.log" 2>&1
