#!/usr/bin/env bash
set -euo pipefail

set -a
source "{{ backup_dir }}/scripts/backup.env"
set +a

if ! restic snapshots >/dev/null 2>&1; then
  restic init >> "{{ backup_logs_dir }}/restic-backup.log" 2>&1
fi

restic backup \
  --verbose \
  "{{ backup_postgres_dump_dir }}" \
{% for path in backup_docker_volume_paths %}
  "{{ path }}" \
{% endfor %}
  >> "{{ backup_logs_dir }}/restic-backup.log" 2>&1
