POSTGRES_USER=sure_user
POSTGRES_PASSWORD={{ sure_postgres_password }}
POSTGRES_DB=sure_production

SECRET_KEY_BASE={{ sure_secret_key_base }}
SELF_HOSTED=true
RAILS_FORCE_SSL=false
RAILS_ASSUME_SSL=true
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/1
OPENAI_ACCESS_TOKEN={{ openai_access_token }}
