POSTGRES_USER=sure_user
POSTGRES_PASSWORD={{ shared_postgres_sure_password }}
POSTGRES_DB=sure_production
DB_HOST=postgres
DB_PORT=5432

SECRET_KEY_BASE={{ sure_secret_key_base }}
SELF_HOSTED=true
RAILS_FORCE_SSL=false
RAILS_ASSUME_SSL=true
REDIS_URL=redis://redis:6379/2
OPENAI_ACCESS_TOKEN={{ openai_access_token }}
