[Unit]
Description=Vaultwarden Litestream health check
Requires=kiran-vaultwarden-litestream.service

[Service]
Type=oneshot
Environment="LITESTREAM_ACCESS_KEY_ID={{ vaultwarden_litestream_access_key_id }}"
Environment="LITESTREAM_SECRET_ACCESS_KEY={{ vaultwarden_litestream_secret_access_key }}"
ExecStart=/usr/bin/litestream snapshots s3://{{ vaultwarden_litestream_backup_bucket }}/{{ vaultwarden_litestream_backup_path }}

[Install]
WantedBy=multi-user.target
