[Unit]
Description=Vaultwarden Litestream SQLite replication
After=network.target

[Service]
Type=simple
User=root
Environment="LITESTREAM_ACCESS_KEY_ID={{ vaultwarden_litestream_access_key_id }}"
Environment="LITESTREAM_SECRET_ACCESS_KEY={{ vaultwarden_litestream_secret_access_key }}"
ExecStart=/usr/bin/litestream replicate -config {{ backup_dir }}/vaultwarden/litestream.yml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
