access-key-id: {{ vaultwarden_litestream_access_key_id }}
secret-access-key: {{ vaultwarden_litestream_secret_access_key }}

dbs:
  - path: {{ vaultwarden_data_path }}/db.sqlite3
    replicas:
      - url: s3://{{ vaultwarden_litestream_backup_bucket }}/{{ vaultwarden_litestream_backup_path }}
        endpoint: https://s3.fewa.app
        region: ap-southeast-1
        force-path-style: "true"
{% if vaultwarden_litestream_retention_max_size %}
        retention:
          max-size: {{ vaultwarden_litestream_retention_max_size }}
{% endif %}
