## MongoDB
KOMODO_DB_USERNAME={{ mongo_username }}
KOMODO_DB_PASSWORD={{ mongo_password }}

## Core
KOMODO_HOST=https://{{ komodo_subdomain }}
KOMODO_PORT={{ komodo_port }}
KOMODO_PASSKEY={{ komodo_passkey }}
KOMODO_WEBHOOK_SECRET={{ komodo_webhook_secret }}

## Auth
KOMODO_LOCAL_AUTH=true

## Logging
KOMODO_LOG_LEVEL={{ komodo_log_level }}

## First-run admin (used once on DB init)
KOMODO_INIT_ADMIN_USERNAME={{ komodo_init_admin_username }}
KOMODO_INIT_ADMIN_PASSWORD={{ komodo_password }}
