# Postiz
MAIN_URL=https://{{ postiz_subdomain }}
FRONTEND_URL=https://{{ postiz_subdomain }}
NEXT_PUBLIC_BACKEND_URL=https://{{ postiz_subdomain }}
JWT_SECRET={{ postiz_secret_key }}
DATABASE_URL=postgresql://postiz-local:${POSTGRES_PASSWORD}@postiz-postgres:5432/postiz-db-local
REDIS_URL=redis://postiz-redis:6379
BACKEND_INTERNAL_URL=http://postiz:3000
IS_GENERAL=true

# Postgres
POSTGRES_PASSWORD={{ postiz_postgres_password }}

# Temporal postgres
TEMPORAL_POSTGRES_PASSWORD={{ temporal_postgres_password }}
