COMPOSE_PROJECT_NAME=infra
COMPOSE_FILE={{ infra_dir }}/docker-compose.yml
COMPOSE_HTTP_TIMEOUT=200

POSTGRES_PASSWORD={{ shared_postgres_password }}
REDIS_PASSWORD={{ redis_password }}

# WAL-G backup (R2)
WALG_S3_PREFIX=s3://{{ backup_wal_g_s3_bucket }}/{{ backup_wal_g_s3_prefix | default('') }}
AWS_ENDPOINT={{ backup_wal_g_aws_endpoint }}
AWS_S3_FORCE_PATH_STYLE={{ backup_wal_g_s3_force_path_style | default('true') }}
AWS_ACCESS_KEY_ID={{ backup_wal_g_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ backup_wal_g_aws_secret_access_key }}
AWS_REGION={{ backup_wal_g_aws_region | default('auto') }}
WALG_PASSWORD={{ backup_wal_g_password }}
