services:
  caddy:
    build:
      context: "{{ host.data.caddy_dir }}"
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    network_mode: host
    volumes:
      - {{ host.data.caddy_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro
      - {{ host.data.caddy_dir }}/data:/data
      - {{ host.data.caddy_dir }}/config:/config
    environment:
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
    deploy:
      resources:
        limits:
          memory: 512m
