[defaults]
inventory          = inventory/hosts.ini
remote_user        = ubuntu
private_key_file   = ~/.ssh/id_ed25519
host_key_checking  = False
stdout_callback    = yaml
stderr_callback    = yaml
# Pipelining speeds up task execution significantly
pipelining         = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -p 22
