DATABASE_URL=postgresql://openwebui:{{ shared_postgres_openwebui_password }}@infra-postgres-1:5432/openwebui
WEBUI_SECRET_KEY={{ openwebui_secret_key }}
WEBUI_URL=https://{{ openwebui_subdomain }}
ENABLE_OLLAMA_API=false
OPEN_TERMINAL_API_KEY={{ open_terminal_api_key }}
TERMINAL_SERVER_CONNECTIONS=[{"id":"local","name":"Local Terminal","url":"http://open-terminal:8000","key":"{{ open_terminal_api_key }}","auth_type":"api_key"}]
