# ── Databasus application ─────────────────────────────────────────────────────
SECRET_KEY={{ host.data.databasus_secret_key }}

# ── Cloudflare R2 backup storage ─────────────────────────────────────────────
R2_ACCOUNT_ID=144d079696599a9af7525be0c68a459f
R2_ACCESS_KEY_ID={{ host.data.r2_access_key_id }}
R2_SECRET_ACCESS_KEY={{ host.data.r2_secret_access_key }}
R2_BUCKET_NAME=kiran-vm-database-backup
R2_ENDPOINT=https://144d079696599a9af7525be0c68a459f.eu.r2.cloudflarestorage.com
